* > * * {
  border-radius: 0 !important;
}

.App {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

.button {
  background-color: #ff2659;
  font-weight: bold;
  font-family: "Gilroy",Helvetica,Arial,sans-serif;
  font-size: 16px;
  clear: both;
  padding: 1.625em 0;
  overflow: hidden;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-decoration: none;
  width: 99%;
  max-width: 100%;
  text-align: center;
  border: 2px solid transparent;

}

@keyframes highlight {
  0% {
    background-color: red;
  }
  10 {
    background-color: white;
  }
}

.button:disabled:hover {
  animation: highlight 1000ms ease-out;
}

.button.blue {
  background-color: rgba(65, 71, 157, 1);
  color: #fff;
}

.button.blue:hover {
  background-color: rgba(65, 71, 157, 0.5);
  color: #fff;
  z-index: 9999;
}

.button.yellow {
  background-color: rgba(255, 189, 36, 1);
  color: #0e0033;
}

.button.yellow:hover {
  background-color: rgba(255, 189, 36, 0.5);
  color: #0e0033;
  z-index: 9999;
}

.light-blue-background {
  background: #F0F4FF;
}

.pops {
  width: auto;
}

.pops:hover {
  box-shadow: 0 0 15px 1px;
}

.pops:hover > #requiredText {
  color: #99262b !important;
}

.pops:hover > * {
  color: #0e0033 !important;
}

.pops > input:focus {
  box-shadow: 0 0 15px 1px;
}
